.teacherWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.teacherWrapper .imgWrapper {
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.teacherWrapper .imgWrapper img {
  width: 100%;
  height: 100%;
}
.teacherWrapper .imgWrapper img:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}
.teacherWrapper h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}
.teacherWrapper p {
  font-size: 16px;
  line-height: 32px;
  color: #f6f6f6;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {
  .teacherWrapper {
    gap: 0;
  }
  .teacherWrapper h6 {
    margin-top: 20px;
  }
  .teacherWrapper .imgWrapper {
    width: 250px !important;
    height: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .teacherWrapper {
    gap: 0;
  }
  .teacherWrapper h6 {
    margin-top: 28px;
  }
  .teacherWrapper .imgWrapper {
    width: 300px !important;
    height: 300px;
  }
}
